<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Hello, World!</title>
    <link rel="stylesheet" th:href="@{/css/tilestyles.css}" />
  </head>
 </head>
<body>
<div class="header-title">
  <div class="title-1">
    <h1>Banking Products</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="tile purple">
        <h3 class="title">Customer Details</h3>
        <p>Creation Update Delete Details view</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tile red">
        <h3 class="title">Accounts</h3>
        <p>Account Creation Update Delete Details view</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tile orange">
        <h3 class="title">Transfer Transction</h3>
        <p>C2C transaction</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tile green">
        <h3 class="title">Cash transaction</h3>
        <p>create/cancel cash transaction</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tile blue">
        <h3 class="title">Account balance</h3>
        <p>check balance</p>
      </div>
    </div>    
  </div>
</div>
</body>
</html>